<!DOCTYPE html>
<html lang="en">
<head>

   <!-- font awesome cdn link  -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

   <!-- Liên kết đến css  -->
   <link rel="stylesheet" href="./css/components.css">
   <link rel="stylesheet" href="./css/style.css">
   
   <meta charset="UTF-8">
   <!-- Xác định kiểu mã hoá của kỹ tự  -->
   
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- Giúp thích ứng được với từng thiết bị để hiển thị chính xác  -->
    <!-- Latest compiled and minified CSS -->
    

   <title>Login</title>

   
</head>
<body>
    <header class="header">

        <meta charset="UTF-8">
        <div class="flex">
        <a href="#" class="logo"><i class="fas fa-shopping-basket"></i>Healthyfood</a>

    </header>

<section class="form-container">

   <form action="" method="POST" name="myform">
        <h3>LOGIN NOW</h3>
        <input type="email" name="email" class="box" placeholder="Enter your email" value = "" required>
        <h4 class ="warning" id="emailloi"></h4>
        <input type="password" name="pass" class="box" placeholder="Enter your password" required>
        <h4 class ="warning" id="passloi"></h4>
        <button><input type="submit" value="login now" class="btn" name="submit"></button>
        <p>Don't have an account? <a href="/register">register now</a></p>
   </form>
</section>
</body>
</html>